* {
  margin: 0;
  padding: 0;
  border: 0;
}

.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:root {
  --text-color: rgb(0, 0, 0);
  --orange-color: rgb(242, 153, 74);
  --footer-border: 3px solid rgb(255, 255, 255);
  --footer-back: rgb(63, 154, 183);
}

body {
  /* width: 1920px; */
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  width: 100%;
}

header,
main {
  background-color: white;
  /* padding: 0 7%; */
  margin: 0 auto;
  width: 61.45%;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 160px 0;
  text-align: center;
  align-items: center;
}

.category {
  display: flex;
  gap: 31px;
  font-size: 19px;
  letter-spacing: 1px;
  color: black;
  text-decoration: none;
}

.category a {
  color: black;
  text-decoration: none;
}

.home {
  display: flex;
  gap: 35px;
  font-size: 19px;
  letter-spacing: 1px;
}

.home a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.home a:hover::after {
  content: " .";
  color: var(--orange-color);
  font-size: 5.2em;
  position: absolute;
  left: 50%;
  bottom: -35px;
  transform: translateX(-50%);
  cursor: pointer;
}

.lable {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 2px;
}

.search i {
  width: 16px;
  height: 16px;
  text-decoration: none;
  color: black;
}

main {
 

  padding-bottom: 51px;
  position: relative;
}

main::before {
  content: "";
  position: absolute;
  width: 1px;
  top: 0px;
  right: 0px;
  color: red;
  background-color: black;
  height: 401px;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 150px;
}

.table {
  /* width: 34.25%; */
  /* padding-right: 12.16%; */
}

.table img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

h1 {
  color: var(--orange-color);
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 1px;
  padding-bottom: 10px;
  display: block;
  position: relative;
}

h1::before {
  content: "+";
  width: 4px;
  height: 4px;
  color: var(--footer-back);
  position: absolute;
  right: 17.8%;
}

h2 {
  color: rgb(0, 0, 0);
  font-family: Nunito Sans;
  font-size: 65px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 1px;
}

.lorem {
  width: 100%;
  position: relative;
  
  margin-top: 40px;
  color: rgb(79, 79, 79);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 1px;
}

.lorem::before {
  content: "";
  display: block;
  width: 32%;
  height: 4px;
  background-color: var(--orange-color);
  position: absolute;
  top: -24px;
  border-radius: 4px;
}

.play-video {
  display: flex;
  align-items: center;
  gap: 24px;
}

.play-video span {
  color: rgb(0, 0, 0);
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.play-video i {
  display: flex;
  gap: 21px;
  color: var(--footer-back);
  font-size: 85px;
  background-color: transparent;
}

.play-three {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.image-icons {
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: column;
  right: -20px;
  align-items: center;
}

.image-icons img:first-child {
  width: 18px;
  height: 18px;
}

.image-icons img:nth-child(2) {
  width: 18px;
  height: 18px;
}

.image-icons img:last-child {
  display: flex;
  color: transparent;
  background-color: var(--orange-color);
  border-radius: 34px;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
}

.image-icons img:last-child:hover {
  cursor: pointer;
  background: white;
  background-color: var(--footer-back);
}

footer {
  background-color: var(--footer-back);
  text-align: center;
  position: relative;
  width: 100%;
}

.container-img {
  display: flex;
  padding: 32px 0 32px 0;
 
  
}
.three-img {
  display: flex;

  width: 55px;
  height: 55px;
}

.three-img span {
  margin-left: 7px;
}

.three-img img:nth-child(3) {
  position: relative;
  left: -39px;
  border-radius: 55px;
  
}

.three-img img:nth-child(2) {
  position: relative;
  left: -22px;
}

.client span {
  color: rgb(255, 255, 255);
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 400;
  align-self: center;
}

.client {
  color: rgb(255, 255, 255);
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-self: center;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .container-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .image-icons {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }

  main::before {
    content:none;

  }

  .image-icons {
    grid-row: ;
  }
}

@media (max-width: 950px) {
  .container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    justify-content: center;
    padding-bottom: 30px;
  }

  .play-three {
    display: grid;
    grid-template-rows: 1fr 1fr;
    
  }

  .container-img {
    justify-content:center;
  }

  main::before {
    content:none;

  }


  .play-all {
    justify-content: space-between;
  }
}

@media (min-width: 600px) {
}

@media (min-width: 1200px) {
}
